<div class="book__page book__page-sheets" id="sheet-3">
    <div class="book__page-front" id="page-6">
      <div class="page__content">
        <h1 class="page__content-title"><%= t('Introduction') %></h1>
        <p class="page__content-text">
          <%= t('Introduction-text-1') %>
        </p>
        <p class="page__content-text">
          <%= t('Introduction-text-2') %>
        </p>
        <div class="page__number">5</div>
      </div>
    </div>
    <div class="book__page-back" id="page-7">
      <div class="page__content">
        <h1 class="page__content-title"><%= t('Dice-Story') %></h1>
        <p class="page__content-text">
          <%= t('Dice-Story-1') %>
        </p>
        <p class="page__content-blockquote-reference">
          <%= t('Dice-Story-2') %>
        </p>
        <p class="page__content-text">
          <%= t('Dice-Story-3') %>
        </p>
        <div class="page__number">6</div>
      </div>
    </div>
  </div>
