<div class="book__page book__page-sheets" id="sheet-8">
    <div class="book__page-front" id="page-16">
      <div class="page__content">
        <p class="page__content-text" id="top-text-without-title">
          <%= t('Groups-devide-3') %>
        </p>
        <p class="page__content-text">
          <%= t('Groups-devide-4') %>
        </p>
        <p class="page__content-text">
          <%= t('Groups-devide-5') %>
        </p>
        <div class="page__number">15</div>
      </div>
    </div>
    <div class="book__page-back" id="page-17">
      <div class="page__content">
        <p class="page__content-text" id="top-text-without-title">
          <%= t('Groups-devide-6') %>
        </p>
        <h1 class="page__content-title"><%= t('This-is-a-game') %></h1>
        <p class="page__content-text">
          <%= t('This-is-a-game-text') %>
        </p>
        <div class="page__number">16</div>
      </div>
    </div>
  </div>
