<div class="book__page book__page-sheets" id="sheet-18">
    <div class="book__page-front" id="page-18">
      <div class="page__content">
        <p class="page__content-text" id="top-text-without-title">
          <%= t('why3') %>
        </p>
        <p class="page__content-text">
          <%= t('why4') %>
        </p>
        <p class="page__content-text">
          <%= t('why5') %>
        </p>
        <div class="page__number">35</div>
      </div>
    </div>
    <div class="book__page-back" id="page-19">
      <div class="page__content">
        <p class="page__content-text" id="top-text-without-title">
          <%= t('why6') %>
        </p>
        <p class="page__content-text" id="last-page-last-line">
          <%= t('why7') %>
        </p>

        <div id="page-19-content">
          <p class="page__content-blockquote-text">
            <%= t('this-is-a-manifest1') %>
        </div>
        <div id="page-19-content">
          <p class="page__content-blockquote-text">
            <%= t('this-is-a-manifest2') %>
        </div>
        <div id="page-19-content">
          <p class="page__content-blockquote-text">
            <%= t('this-is-a-manifest3') %>
        </div>
      <div class="impressum">
        <h2 class="page__content-impressum-title"><%= t('project') %></h2>
        <p class="page__content-impressum-text">
          <%= t('praxis') %>
        </p>
        <p class="page__content-impressum-text">
          <%= t('name') %>
        </p>
        <p class="page__content-impressum-text">
          <%= t('adresse') %>
        </p>
        <p class="page__content-impressum-text">
          <%= t('ort') %>
        </p>
        <p class="page__content-impressum-text">
          <%= t('internet') %>
        </p>
      </div>


        <div class="page__number">36</div>
      </div>
    </div>
  </div>

