<div class="book__page book__page-sheets" id="sheet-6">
    <div class="book__page-front" id="page-12">
      <div class="page__content">
        <p class="page__content-text" id="top-text-without-title">
          <%= t('Dice-Story-20') %>
        </p>
        <p class="page__content-text">
          <%= t('Dice-Story-21') %>
        </p>
        <p class="page__content-text">
          <%= t('Dice-Story-22') %>
        </p>
        <p class="page__content-text">
          <%= t('Dice-Story-23') %>
        </p>
        <div class="page__number">11</div>
      </div>
    </div>
    <div class="book__page-back" id="page-13">
      <div class="page__content">
        <p class="page__content-text" id="top-text-without-title">
          <%= t('Dice-Story-24') %>
        </p>
        <p class="page__content-text">
          <%= t('Dice-Story-25') %>
        </p>
        <p class="page__content-text">
          <%= t('Dice-Story-26') %>
        </p>
        <div class="page__number">12</div>
      </div>
    </div>
  </div>
