<div class="book__page book__page-sheets" id="sheet-14">
    <div class="book__page-front" id="page-28">
      <div class="page__content">
        <h1 class="page__content-level-title"><%= t('Level5') %></h1>
        <h2 class="page__content-subtitle"><%= t('principle5') %></h2>

        <p class="page__content-level-text">
          <%= t('Level5Text1') %>
        </p>
        <p class="page__content-level-text">
          <%= t('Level5Text2') %>
        </p>
        <p class="page__content-level-text">
          <%= t('Level5Text3') %>
        </p>

        <div class="page__number">27</div>
      </div>
    </div>
    <div class="book__page-back" id="page-29">
    <div class="content-image">
      <%= image_tag 'kompass.jpg'%>
    </div>
    </div>
  </div>
