<div class="book__page book__page-sheets" id="sheet-13">
    <div class="book__page-front" id="page-26">
      <div class="page__content">
        <h1 class="page__content-level-title"><%= t('Level4') %></h1>
        <h2 class="page__content-subtitle"><%= t('principle4') %></h2>

        <p class="page__content-level-text">
          <%= t('Level4Text1') %>
        </p>
        <p class="page__content-level-text">
          <%= t('Level4Text2') %>
        </p>
        <p class="page__content-level-text">
          <%= t('Level4Text3') %>
        </p>

        <div class="page__number">25</div>
      </div>
    </div>
    <div class="book__page-back" id="page-27">
    <div class="content-image">
      <%= image_tag 'Level5.jpg'%>
    </div>
    </div>
  </div>
