<div class="book__page book__page-sheets" id="sheet-2">
    <div class="book__page-front" id="page-4">
      <div class="page__content">
<h1 class="page__content-title"><%= t('Contents') %></h1>
<table class="page__content-table">
          <tr>
          <td align="left"><%= t('Introduction') %></td><td align="right">5</td>
          </tr>
          <tr>
          <td align="left"><%= t('Dice-Story') %></td><td align="right">6</td>
          </tr>
          <tr>
          <td align="left"><%= t('Groups-devide') %></td><td align="right">14</td>
          </tr>
          <tr>
          <td align="left"><%= t('This-is-a-game') %></td><td align="right">17</td>
          </tr>
          <tr>
          <td align="left"><%= t('One-rule') %></td><td align="right">17</td>
          </tr>
          <tr>
          <td align="left"><%= t('7-levels') %></td><td align="right">18</td>
          </tr>
          <tr>
          <td align="left"><%= t('Level1') %></td><td align="right">20</td>
          </tr>
          <tr>
          <td align="left"><%= t('Level2') %></td><td align="right">22</td>
          </tr>
          <tr>
          <td align="left"><%= t('Level3') %></td><td align="right">24</td>
          </tr>
          <tr>
           <td align="left"><%= t('Level4') %></td><td align="right">26</td>
          </tr>
          <tr>
          <td align="left"><%= t('Level5') %></td><td align="right">28</td>
          </tr>
          <tr>
          <td align="left"><%= t('Level6') %></td><td align="right">30</td>
          </tr>
          <tr>
          <td align="left"><%= t('Level7') %></td><td align="right">32</td>
          </tr>
          <tr>
          <td align="left"><%= t('Onion-Soup') %></td><td align="right">34</td>
          </tr>
          <tr>
           <td align="left"><%= t('why-am-I-telling-you') %></td><td align="right">36</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="book__page-back" id="page-5">
      <div class="page__content" id="page-5-content">
        <p class="page__content-blockquote-text">
          <%= t('thanks') %>
        </p>
      </div>
    </div>
  </div>
