<div class="book__page book__page-sheets" id="sheet-4">
    <div class="book__page-front" id="page-8">
      <div class="page__content">
        <p class="page__content-text" id="top-text-without-title">
          <%= t('Dice-Story-4') %>
        </p>
        <p class="page__content-text">
          <%= t('Dice-Story-5') %>
        </p>
        <p class="page__content-text">
          <%= t('Dice-Story-6') %>
        </p>
        <p class="page__content-text">
          <%= t('Dice-Story-7') %>
        </p>
        <div class="page__number">7</div>
      </div>
    </div>
    <div class="book__page-back" id="page-9">
      <div class="page__content">
        <p class="page__content-text" id="top-text-without-title">
          <%= t('Dice-Story-8') %>
        </p>
        <p class="page__content-blockquote-reference">
          <%= t('Dice-Story-9') %>
        </p>
        <p class="page__content-text">
          <%= t('Dice-Story-10') %>
        </p>
        <p class="page__content-blockquote-reference">
          <%= t('Dice-Story-11') %>
        </p>
        <p class="page__content-blockquote-reference">
          <%= t('Dice-Story-12') %>
        </p>
        <div class="page__number">8</div>
      </div>
    </div>
  </div>
