<div class="book__page book__page-sheets" id="sheet-7">
    <div class="book__page-front" id="page-14">
      <div class="page__content">
        <p class="page__content-text" id="top-text-without-title">
          <%= t('Dice-Story-27') %>
        </p>
        <p class="page__content-text">
          <%= t('Dice-Story-28') %>
        </p>
        <div class="page__number">13</div>
      </div>
    </div>
    <div class="book__page-back" id="page-15">
      <div class="page__content">
        <h1 class="page__content-title"><%= t('Groups-devide') %></h1>
        <p class="page__content-text">
          <%= t('Groups-devide-1') %>
        </p>
        <p class="page__content-text">
          <%= t('Groups-devide-2') %>
        </p>
        <div class="page__number">14</div>
      </div>
    </div>
  </div>
