<div class="book__page book__page-sheets" id="sheet-11">
    <div class="book__page-front" id="page-22">
      <div class="page__content">
        <h1 class="page__content-level-title"><%= t('Level2') %></h1>
        <h2 class="page__content-subtitle"><%= t('principle2') %></h2>

        <p class="page__content-level-text">
          <%= t('Level2Text1') %>
        </p>
        <p class="page__content-level-text">
          <%= t('Level2Text2') %>
        </p>
        <p class="page__content-level-text">
          <%= t('Level2Text3') %>
        </p>

        <div class="page__number">21</div>
      </div>
    </div>
    <div class="book__page-back" id="page-23">
    <div class="content-image">
      <%= image_tag 'Level3.jpg'%>
    </div>
    </div>
  </div>
