<div class="book__page book__page-sheets" id="sheet-5">
    <div class="book__page-front" id="page-10">
      <div class="page__content">
        <p class="page__content-blockquote-reference" id="block-quote-top">
          <%= t('Dice-Story-13') %>
        </p>
        <p class="page__content-blockquote-reference">
          <%= t('Dice-Story-14') %>
        </p>
        <p class="page__content-blockquote-reference">
          <%= t('Dice-Story-15') %>
        </p>
        <p class="page__content-blockquote-reference">
          <%= t('Dice-Story-16') %>
        </p>
        <p class="page__content-blockquote-reference">
          <%= t('Dice-Story-17') %>
        </p>
        <p class="page__content-text">
          <%= t('Dice-Story-18') %>
        </p>
        <p class="page__content-text">
          <%= t('Dice-Story-19') %>
        </p>
          <div class="page__number">9</div>
      </div>
    </div>
    <div class="book__page-back" id="page-11">
    <div class="content-image">
      <%= image_tag 'Würfel.jpg'%>
    </div>
    </div>
  </div>
