<div class="book__page book__page-sheets" id="sheet-17">
    <div class="book__page-front" id="page-34">
      <div class="page__content">
        <h1 class="page__content-title"><%= t('Onion-Soup') %></h1>

        <p class="page__content-level-text">
          <%= t('Level8Text1') %>
        </p>
        <p class="page__content-level-text">
          <%= t('Level8Text2') %>
        </p>

        <div class="page__number">33</div>
      </div>
    </div>
    <div class="book__page-back" id="page-35">
      <div class="page__content">
        <h1 class="page__content-title"><%= t('why-am-I-telling-you') %></h1>
        <p class="page__content-text">
          <%= t('why1') %>
        </p>
        <p class="page__content-text">
          <%= t('why2') %>
        </p>

        <div class="page__number">35</div>
      </div>
    </div>
  </div>
