<div class="book__page book__page-sheets" id="sheet-9">
    <div class="book__page-front" id="page-18">
      <div class="page__content">
        <h1 class="page__content-title"><%= t('One-rule') %></h1>
        <p class="page__content-text">
          <%= t('One-rule-text') %>
        </p>
        <h1 class="page__content-title"><%= t('7-levels') %></h1>
        <p class="page__content-text">
          <%= t('7-levels-text') %>
        </p>
        <div class="page__number">17</div>
      </div>
    </div>
    <div class="book__page-back" id="page-19">
    <div class="content-image">
      <%= image_tag 'Level1.jpg'%>
    </div>
    </div>
  </div>
