<div class="book__page book__page-sheets" id="sheet15">
    <div class="book__page-front" id="page-30">
      <div class="page__content">
        <h1 class="page__content-level-title"><%= t('Level6') %></h1>
        <h2 class="page__content-subtitle"><%= t('principle6') %></h2>

        <p class="page__content-level-text">
          <%= t('Level6Text1') %>
        </p>
        <p class="page__content-level-text">
          <%= t('Level6Text2') %>
        </p>

        <div class="page__number">29</div>
      </div>
    </div>
    <div class="book__page-back" id="page-31">
    <div class="content-image">
      <%= image_tag 'Level7.jpg'%>
    </div>
    </div>
  </div>
