<div class="book__page book__page-sheets" id="sheet-1">
    <div class="book__page-front" id="page-2">
      <div class="page__content">
        <h1 class="page__content-book-title"><%= t('titel') %></h1>
        <h2 class="page__content-author">Daniela Zimmermann</h2>

        <p class="page__content-credits">
          <%= t('manifest') %>
          <span><%= t('loveandpeace') %></span>
          <%= image_tag 'logo.png'%>
        </p>


        <div class="page__content-copyright">
          <p><%= t('praxis') %></p>
          <p><%= t('beinghuman') %></p>
        </div>
      </div>
    </div>
    <div class="book__page-back" id="page-3">
      <div class="page__content" id="page-3-content">
        <p class="page__content-blockquote-text">
          <%= t('copyright') %>
        </p>
        <div class="page__number">2</div>
      </div>
    </div>
  </div>
