<!-- <h1><%= t('hello') %></h1>

<ul class="language-bar">
  <li class="language" id="en"><%= link_to "English", controller: controller_name, action: action_name, locale: "en"  %></li>
  <li class="language" id="de"><%= link_to "Deutsch", controller: controller_name, action: action_name, locale: "de"  %></li>
  <li class="language" id="fr"><%= link_to "Français", controller: controller_name, action: action_name, locale: "fr"  %></li>
  <li class="language" id="it"><%= link_to "Italiano", controller: controller_name, action: action_name, locale: "it"  %></li>
</ul> -->

<div class="cover">
  <div class="book">
    <%= render 'book_pages/first_and_last_page' %>
    <%= render 'book_pages/page_2_and_3' %>
    <%= render 'book_pages/page_4_and_5' %>
    <%= render 'book_pages/page_6_and_7' %>
  </div>
</div>
