<%= render 'components/language-bar' %>

<div class="cover">
  <div class="book">
    <%= render 'book_pages/first_and_last_page' %>
    <%= render 'book_pages/page_2_and_3' %>
    <%= render 'book_pages/page_4_and_5' %>
    <%= render 'book_pages/page_6_and_7' %>
    <%= render 'book_pages/page_8_and_9' %>
    <%= render 'book_pages/page_10_and_11' %>
    <%= render 'book_pages/page_12_and_13' %>
    <%= render 'book_pages/page_14_and_15' %>
    <%= render 'book_pages/page_16_and_17' %>
    <%= render 'book_pages/page_18_and_19' %>
    <%= render 'book_pages/page_20_and_21' %>
    <%= render 'book_pages/page_22_and_23' %>
    <%= render 'book_pages/page_24_and_25' %>
    <%= render 'book_pages/page_26_and_27' %>
    <%= render 'book_pages/page_28_and_29' %>
    <%= render 'book_pages/page_30_and_31' %>
    <%= render 'book_pages/page_32_and_33' %>
    <%= render 'book_pages/page_34_and_35' %>
    <%= render 'book_pages/page_36_and_37' %>
  </div>
</div>
